h1{
    text-align: center;
    color: #a41515;
    font-size: 50px;
}
p{
    text-align: center;
    color: #1f1d1df9;
    font-size: 20px;
}
img{
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}
iframe{
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}
ul{
    list-style-type: none;
    text-align: center;
    color: #1f1d1df9;
    font-size: 20px;
}
ul li span{
    font-weight: bold;
}
.circle-logo {
  width: 300px;         /* Set your desired diameter */
  height: 300px;        /* Must match width */
  border-radius: 50%;   /* Creates the circular frame */
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: left;
}

.circle-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* Centers and crops the image to fill the circle */
}
